.BackgroundImage {
    position: absolute;
    z-index: -10;
    height: 70%;
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    /* background-image: url('../../../assets/image/ZomatoBackground.jpg'); */
}

.Backdrop {
    position: absolute;
    z-index: -5;
    height: 70%;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
}
